<!DOCTYPE html>
<html>
<head>
	<title>Chat</title>
	<link rel="stylesheet" type="text/css" href="/css/app.css">
</head>
<body>
	<div id="root"></div>
</body>
<% if(locals.preloadedState) { %>
	<script type="text/javascript">
		window.__PRELOADED_STATE__ = JSON.parse('<%- JSON.stringify(locals.preloadedState) %>');
	</script>
<% } %>
<script type="text/javascript" src="/bundle.js"></script>
</html>